body {
	background-color: #EEE;
	/* to change the font (In order of what the user has: font-family: Helvetica, Arial, Times New Roman; */
}
a{
	text-decoration: none; /* gets rid of the underline*/
	color: blue; /* colour of the links */
}
h1, h2, h3 {
	margin: 0;
}
#container {
	background-color: white;
	width: 1100px;
	margin-left: auto; /* center the page */
	margin-right: auto;
}
#header {
	background-color: #66CCFF;
	color: white; /* change text colour */
	text-align: left; /* center the text */
	padding: 10px;
}
#content{
	padding: 10px; /* top right bottm left*/
	text-align: center;
}
#nav{
	width: 180px;
	float: left; /* stop div from starting on a new line */
}
/* # for and id, . for a class (i.e #id, .class)*/
#nav ul{
	list-style-type: none;
	padding: 0;
	text-align: center;
} 
#nav.selected {
	font-weight: bold;
}
#main{
	width: 900px;
	float: right;
}
#footer{
	clear:both; /* pushes past all the paragraphs
	(floating elements)*/
	padding: 10px; 
	background-color: #999998;
	color: white;
	text-align: left; /* align text right*/
}